<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts::head}"><title>Knowledge Replica</title></head>

<style>
    .error {
        color: red;
    }








</style>
<body>

<header th:replace="~{layouts::navbar}"></header>

<!-- contact form section -->

<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img alt="" class="img-fluid mb-3 d-none d-md-block" src="/img/contact.svg">
            <h1>Let's connnect..</h1>
            <p class="font-italic text-muted mb-0">let the world to know about your skills &#128293;</p>
            <p class="font-italic text-muted">Article Platform by
                <a class="text-muted" href="https://knowledgereplica.com">
                    <u>Knowledge Replica</u></a>
            </p>
        </div>

        <!-- Contact Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
            <form enctype="multipart/form-data" method="post" th:action="@{/contact}" th:object="${contact}">
                <div class="row">

                    <!--    alert section   -->
                    <div class="input-group col-lg-12">
                        <div th:replace="alerts::ContactSuccess"></div>
                    </div>

                    <!-- Headline -->
                    <div class="input-group col-lg-12 mb-4">
                        <h2>Contact Form</h2>
                    </div>


                    <!-- First Name -->
                    <p th:errorclass="error" th:errors="*{firstName}"
                       th:if="${#fields.hasErrors('firstName')}"></p>
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                  <i class="fa fa-user text-muted"></i>
                              </span>
                        </div>
                        <input class="form-control bg-white border-left-0 border-md" id="firstName" name="firstname"
                               placeholder="First Name"
                               th:field="*{firstName}"
                               type="text">
                    </div>

                    <!-- Last Name -->
                    <p th:errorclass="error" th:errors="*{lastName}"
                       th:if="${#fields.hasErrors('lastName')}"></p>
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                  <i class="fa fa-user text-muted"></i>
                              </span>
                        </div>
                        <input class="form-control bg-white border-left-0 border-md" id="lastName" name="lastname"
                               placeholder="Last Name"
                               th:field="*{lastName}"
                               type="text">
                    </div>

                    <!-- Email Address -->
                    <p th:errorclass="error" th:errors="*{email}"
                       th:if="${#fields.hasErrors('email')}"></p>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                  <i class="fa fa-envelope text-muted"></i>
                              </span>
                        </div>
                        <input class="form-control bg-white border-left-0 border-md" id="email" name="email"
                               placeholder="Email Address"
                               th:field="*{email}"
                               type="email">
                    </div>

                    <!-- Message -->
                    <p th:errorclass="error" th:errors="*{message}"
                       th:if="${#fields.hasErrors('message')}"></p>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                  <i class="fas fa-sticky-note text-muted"></i>
                            </span>
                        </div>
                        <textarea class="form-control bg-white border-left-0 border-md" id="message" name="message"
                                  placeholder="message"
                                  th:field="*{message}"
                                  type="text"></textarea>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button class="btn btn-primary btn-block py-2" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--    footer-->
<footer th:replace="~{layouts::footer}"></footer>
<!-- Libs JS -->
<div th:replace="~{layouts::JS-Include}"></div>
</body>
</html>