<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts::head}"><title>Knowledge Replica</title></head>
<body>

<header th:replace="~{layouts::navbar}"></header>
<!-- change password form section -->

<div class="container">
    <div class="row py-5 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img alt="" class="img-fluid mb-3 d-none d-md-block" th:src="@{/img/change_password.svg}"/>
            <h1>Do Remember..</h1>
            <p class="font-italic text-muted mb-0">
                let the world to know about your skills &#128293;
            </p>
            <p class="font-italic text-muted">
                Article Platform by
                <a class="text-muted" href="https://knowledgereplica.com">
                    <u>Knowledge Replica</u></a>
            </p>
        </div>

        <!-- Reset Password Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
            <form enctype="multipart/form-data" method="post" th:action="@{/authenticate/change/password}"
                  th:object="${resetPasswordData}">
                <div class="row">

                    <!-- alert message -->
                    <div class="input-group col-lg-12">
                        <div th:replace="alerts::PasswordMismatchError"></div>
                    </div>
                    <div class="input-group col-lg-12">
                        <div th:replace="alerts::EmptyFieldError"></div>
                    </div>


                    <!-- Password -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                                <span class="
                      input-group-text
                      bg-white
                      px-4
                      border-md border-right-0
                    ">
                  <i class="fa fa-lock text-muted"></i>
                </span>
                        </div>
                        <input class="form-control bg-white border-left-0 border-md" id="password" name="password"
                               placeholder="Password"
                               th:field="*{password}" type="password"/>
                    </div>

                    <!-- Password Confirmation -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                                <span class="
                      input-group-text
                      bg-white
                      px-4
                      border-md border-right-0
                    ">
                  <i class="fa fa-lock text-muted"></i>
                </span>
                        </div>
                        <input class="form-control bg-white border-left-0 border-md" id="passwordConfirmation"
                               name="passwordConfirmation"
                               placeholder="Confirm Password" th:field="*{confirmPassword}" type="password"/>
                    </div>

                    <input id="token"
                           name="token" th:field="*{token}"
                           th:value="*{token}" type="hidden"/>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button class="btn btn-primary btn-block py-2" type="submit">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--    footer-->
<footer th:replace="~{layouts::footer}"></footer>
<!-- Libs JS -->
<div th:replace="~{layouts::JS-Include}"></div>
</body>
</html>