<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts::head"><title>Knowledge Replica</title></head>
<body>

<header th:replace="layouts::navbar"></header>

<!-- login form section -->

<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img alt="" class="img-fluid mb-3 d-none d-md-block" th:src="@{/img/login.svg}">
            <h1>Welcome Back..</h1>
            <p class="font-italic text-muted mb-0">let the world to know about your skills &#128293;</p>
            <p class="font-italic text-muted">Article Platform by <a class="text-muted"
                                                                     href="https://knowledgereplica.com">
                <u>Knowledge Replica</u></a>
            </p>
        </div>

        <!-- Login Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
            <form enctype="multipart/form-data" id="login-form" method="post" th:action="@{/authenticate/login}">
                <div class="row">

                    <!-- alert message -->
                    <div class="input-group col-lg-12">
                        <div th:replace="alerts::LoginError"></div>
                    </div>
                    <div class="input-group col-lg-12">
                        <div th:replace="alerts::InvalidSession"></div>
                    </div>
                    <div class="input-group col-lg-12">
                        <div th:replace="alerts::RegistrationSuccessMessage"></div>
                    </div>
                    <div class="input-group col-lg-12 ">
                        <div th:replace="alerts::InvalidTokenError"></div>
                    </div>
                    <div class="input-group col-lg-12">
                        <div th:replace="alerts::EmailServiceError"></div>
                    </div>
                    <div class="input-group col-lg-12">
                        <div th:replace="alerts::ExpiredTokenError"></div>
                    </div>
                    <div class="input-group col-lg-12">
                        <div th:replace="alerts::ExpiredResetPasswordTokenError"></div>
                    </div>
                    <div class="input-group col-lg-12">
                        <div th:replace="alerts::ResetPasswordSuccess"></div>
                    </div>
                    <div class="input-group col-lg-12">
                        <div th:replace="alerts::ResetPasswordMessage"></div>
                    </div>


                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                              <span class="input-group-text bg-white px-4 border-md border-right-0">
                                  <i class="fa fa-envelope text-muted"></i>
                              </span>
                        </div>
                        <input class="form-control bg-white border-left-0 border-md" id="email" name="email"
                               placeholder="Email Address"
                               type="email">
                    </div>

                    <!-- Password -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                              <span class="input-group-text bg-white px-4 border-md border-right-0">
                                  <i class="fa fa-lock text-muted"></i>
                              </span>
                        </div>
                        <input class="form-control bg-white border-left-0 border-md" id="password" name="password"
                               placeholder="Password"
                               type="password">
                    </div>

                    <div class="input-group col-lg-6 mb-2">
                        <div class="input-group-prepend px-4">
                            <input class="form-check-input" id="remember-me" name="remember-me" type="checkbox">
                            <label class="form-check-label font-weight-lighter" for="remember-me">
                                Remember me
                            </label>
                        </div>
                    </div>
                    <div class="input-group col-lg-6 mb-2">
                        <div class="input-group-prepend px-4">
                            <a class="text-secondary" th:href="@{/authenticate/forgot/password}"> Forgot Password?</a>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button class="btn btn-primary btn-block py-2" type="submit">Login</button>
                    </div>

                    <!-- Divider Text -->
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>

                    <!-- Social Login -->
                    <div class="form-group col-lg-12 mx-auto">
                        <a class="btn btn-primary btn-block py-2 btn-google" href="#">
                            <i class="fab fa-google"></i>&nbsp&nbsp
                            <span class="font-weight-bold">Continue with Google</span>
                        </a>
                        <a class="btn btn-primary btn-block py-2 btn-facebook" href="#">
                            <i class="fab fa-facebook"></i>&nbsp&nbsp
                            <span class="font-weight-bold">Continue with Facebook</span>
                        </a>
                    </div>

                    <!-- Already Registered -->
                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Not Registered Yet? <a class="text-primary ml-2"
                                                                                      th:href="@{/authenticate/signup}">Sign
                            Up</a></p>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!--    footer-->
<footer th:replace="layouts::footer"></footer>
<!-- Libs JS -->
<div th:replace="layouts::JS-Include"></div>
</body>
</html>